html {
  margin:0;
  padding: 0;
}
body {
  font-size: 100%;
  font-family: "Open Sans";
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans";
  font-weight: 700;
}

/*nav*/
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nav a {
  display: block;
  padding: 5px 20px;
}
.current {
  background: silver;
  color: #fff;
}
.nav-bottom {
  font-size: 80%;
}
.submenu {
  font-size: 80%;
  color: grey;
}
.submenu strong {
    margin: 5px 20px;
    display: block;
}
