<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin c-hero -->
      <div class="hero" style="background-image: url('{{ site.hero-image | relative_url }}')"> 
        <div class="hero__content">
          <h1 class="hero__title wow fadeInUp">{{ site.hero-title }}</h1>
          <div class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">{{ site.hero-subtitle }}</div>
        </div>
      </div>
      <!-- end hero -->
      <blockquote>Tervetuloa! Olet saapunut Vesa Peraston kotisivuille. Sivuilta löydät tietoa minusta ja töistäni.</blockquote>
      <cite>Vesa Perasto, 2004</cite>

      <p>Edellä tervetulotoivotus, jonka rustasin ensimmäiselle "kotisivuilleni" joskus vuonna 2004-2005.         </br>Tervehdys sopii mielestäni aloittamaan myös tämän verkkosivuston, joten tervetuloa!</p>
    </div>
  </div>
</div>
