<h2>Koodari fysioterapeutin opinnoissa</h2>
<p><span class="welcome-text">Tervetuloa verkkosivuilleni. Tällä hetkellä sivusto palvelee fysioterapia opintojeni portfoliona. Blogiini kirjaan seuraavan n. 3,5 vuoden aikana käymieni kurssien kuvaukset sekä reflektoin omaa oppimistani kullakin kurssilla. Sivustolle päivittelen myöhemmin myös tarkemman kuvaus itsestäni sekä CV:n.</span>
<p>Ota yhteyttä <a href="mailto:vesa.perasto@gmail.com">vesa.perasto[at]gmail.com</a><br>tai jätä viesti alla olevalla lomakkeella</p>
