<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <title>Vesa Peraston verkkosivut - avataan pian</title>
  <link href="{{site.baseurl}}/css/layout.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700" rel="stylesheet">
</head>
<body>
  <header>
    <strong>Veskun verkkosivut</strong>
    <hr>
    {% include nav.html navclass='nav-top'%}
  </header>
  {{content}}
  <footer>
    <hr>
    {% include nav.html navclass='nav-bottom'%}
    <p>&copy; 2016 Vesa Perasto</p>
  </footer>
</body>
</html>
